.header {
  position: relative;
  background-position: top;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &--home {
    height: 95vh;
    background-image: linear-gradient(
        to right bottom,
        rgba(green, 0.5),
        rgba(black, 0.5)
      ),
      url(../img/hero.jpg);
    background-size: cover;
  }

  &__shop {
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: linear-gradient(
        to right bottom,
        rgba(rgb(0, 48, 73), 0.55),
        rgba(rgb(247, 127, 0), 0.55)
      ),
      url(../img/mens-section.jpg);
    background-size: cover;
    transition: all 0.45s;

    &:hover {
      filter: brightness(150%);
    }
  }

  &__logo-container {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
  }

  &__logo {
    margin-bottom: 2rem;
  }
}
